
{{> './_doclink' href="https://sparkdesignsystem.com/patterns/components/buttons" text="Button Docs"}}

<p>
{{> 'button/primary' }} &nbsp;
{{> 'button/secondary' }} &nbsp;
{{> 'button/tertiary' }} &nbsp;
{{> 'button/disabled' }} &nbsp;
</p>