{{> 'templates/_doclink' href="https://sparkdesignsystem.com/using-spark/components/button" text="Button Docs"}}

<p>
{{> 'button/primary' }} &nbsp;
{{> 'button/secondary' }} &nbsp;
{{> 'button/tertiary' }} &nbsp;
{{> 'button/spinning' }} &nbsp;
{{> 'button/disabled' }} &nbsp;
</p>
