
{{> './_doclink' href="https://sparkdesignsystem.com/patterns/components/links" text="Link Docs"}}

<p>
{{> 'link/base' }} &nbsp;
{{> 'link/simple' }} &nbsp;
{{> 'link/icon' }} &nbsp;
{{> 'link/Disabled' }} &nbsp;
</p>