{{> './_doclink' href="https://sparkdesignsystem.com/patterns/components/modals" text="Modal Docs"}}

<p>
  <button class="sprk-c-Button" data-sprk-modal-trigger="exampleChoiceModal" type="button">
    Open Choice Modal
  </button> &nbsp;

  <button class="sprk-c-Button" data-sprk-modal-trigger="exampleInfoModal" type="button">
    Open Info Modal
  </button>
</p>

{{> 'modal/info' }} &nbsp;
{{> 'modal/choice' }} &nbsp;
{{!-- {{> 'modal/wait' }} --}}

<div data-sprk-modal-mask="true" class="sprk-c-ModalMask sprk-u-Display--none" tabindex="-1"></div>