<button
  class="sprk-c-Button sprk-c-Button--has-spinner"
  data-sprk-spinner="click"
  data-id="button-spinner"
  aria-label="Loading"
  aria-live="polite"
  disabled
>
  <div
    class="sprk-c-Spinner sprk-c-Spinner--circle"
    role="progressbar"
    aria-valuetext="Loading"></div>
</button>