<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Spark Vanilla Starter App">
  <title>Spark HTML Kitchen Sink</title>
</head>

<body>
  {{> '../src/templates/icons.svg.hbs' }}
  <main data-sprk-main>
    {{> '../src/templates/masthead' }}

    <div class="sprk-o-CenteredColumn">

      <div class="sprk-o-Stack sprk-o-Stack--split@s sprk-o-Box--large ">
        <div class="sprk-o-Stack__item sprk-o-Stack__item--three-fifths@s sprk-u-prl">
          {{> '../src/templates/_doclink' href="https://sparkdesignsystem.com/patterns/fundamentals/typography" text="Typography Docs"}}

          {{> '../src/templates/typography/h1-title'  }}
          {{> '../src/templates/typography/h5'  }}
          {{> '../src/templates/typography/body-one'  }}

          <span class="sprk-c-Divider" data-id="divider-1"></span>

          {{> '../src/templates/alerts'  }}
          {{> '../src/templates/buttons' }}
          {{> '../src/templates/modals' }}
          {{> '../src/templates/links' }}

        </div>
        <div class="sprk-o-Stack__item sprk-o-Stack__item--two-fifths@s">
          {{> '../src/templates/_doclink' href="https://sparkdesignsystem.com/patterns/components/card" text="Card Docs"}}

          {{> '../src/templates/card/teaser-alt'  }}

          {{> '../src/templates/_doclink' href="https://sparkdesignsystem.com/patterns/components/accordions" text="Accordion Docs"}}

          {{> '../src/templates/accordion'  }}

        </div>
      </div>

      <div class="sprk-o-Box--large">

        {{> '../src/templates/_doclink' href="https://sparkdesignsystem.com/patterns/components/dictionary" text="Dictionary Docs"}}

        {{> '../src/templates/dictionary/striped'  }}
      </div>
    </div>



    {{> '../src/templates/footer' }}

  </main>
</body>

</html>